/*  your css code here. If applicable */
form{
    display: flex;
    flex-direction: column;
    width:20vw;
    gap:3vh;
}

#submit{
    width:8vw;
    height:4vh;
    display: flex;
    align-items: center;
    justify-items: center;
    cursor: pointer;
}